.dashboard {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 22% 1fr; }
  .dashboard .click-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .dashboard .click-area .button-wrapper {
      height: 8em;
      width: 12em; }
  .dashboard.green {
    background-color: #2DC672; }
  .dashboard.blue {
    background-color: #0D86E2; }
  .dashboard.purple {
    background-color: #8811D8; }
