$green: #2DC672;
$blue: #0D86E2;
$purple: #8811D8;
$white: #ffffff;
$grey: #323232;
$light-grey: #e3e3e3;
$success-color: #e04c4c;
$error-color: #a4e579;

$highlight: 10%;
$green-light: lighten($green, $highlight);
$blue-light: lighten($blue, $highlight);
$purple-light: lighten($purple, $highlight);

$shadow: 30%;
$green-shadow: darken($green, $shadow);
$blue-shadow: darken($blue, $shadow);
$purple-shadow: darken($purple, $shadow);

$darken: 40%;
$green-dark: darken($green, $darken);
$blue-dark: darken($blue, $darken);
$purple-dark: darken($purple, $darken);

$colors-list: ($green, $blue, $purple);
$colors-name-list: ('green','blue', 'purple');
$lights-list: ($green-light, $blue-light, $purple-light);
$shadows-list: ($green-shadow, $blue-shadow, $purple-shadow);
$darks-list: ($green-dark, $blue-dark, $purple-dark);

$side-bar-width: 4em;
