.cg-button {
  outline: none;
  position: relative;
  border: none;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  transition: none;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  box-sizing: border-box; }
  .cg-button.default {
    color: #323232;
    background: #e3e3e3;
    box-shadow: 0 10px #323232; }
    .cg-button.default:hover {
      box-shadow: 0 8px #323232;
      top: 2px;
      cursor: pointer; }
    .cg-button.default:active {
      box-shadow: 0 0 #323232;
      top: 8px; }
  .cg-button.green {
    color: #ffffff;
    background: #2DC672;
    box-shadow: 0 8px #11492a; }
    .cg-button.green:hover {
      box-shadow: 0 6px #11492a;
      top: 2px;
      cursor: pointer; }
    .cg-button.green:active {
      box-shadow: 0 0 #11492a;
      top: 6px; }
  .cg-button.blue {
    color: #ffffff;
    background: #0D86E2;
    box-shadow: 0 8px #053051; }
    .cg-button.blue:hover {
      box-shadow: 0 6px #053051;
      top: 2px;
      cursor: pointer; }
    .cg-button.blue:active {
      box-shadow: 0 0 #053051;
      top: 6px; }
  .cg-button.purple {
    color: #ffffff;
    background: #8811D8;
    box-shadow: 0 8px #2f064a; }
    .cg-button.purple:hover {
      box-shadow: 0 6px #2f064a;
      top: 2px;
      cursor: pointer; }
    .cg-button.purple:active {
      box-shadow: 0 0 #2f064a;
      top: 6px; }
