@import "styles/common.scss";

$button-height: 12px;
$button-shadow-height: $button-height - 2px;

.cg-button {
    outline: none;
    border: none;
    position: relative;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    transition: none;
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
    box-sizing: border-box;
    font-family: 'Proxima Nova', sans-serif;
    
    &.default {
        color: $grey, 10%;
        background: $light-grey;
        box-shadow: 0px $button-height $grey;
        font-size: 1.45rem;

        &:hover {
            box-shadow: 0px $button-shadow-height $grey;
            top: 2px;
            cursor: pointer;
        }
        &:active {
            box-shadow: 0px 0px $grey;
            top: $button-shadow-height;
        }
        &:disabled {
            color: darken($light-grey, 25%);
        }
    }
    // Set up colored buttons
    @for $i from 1 through length($colors-name-list) {
        &.#{nth($colors-name-list, $i)} {
            color: $white;
            background: nth($colors-list, $i);
            box-shadow: 0 $button-height nth($shadows-list, $i);

            &:hover {
                box-shadow: 0px $button-shadow-height nth($shadows-list, $i);
                top: 2px;
                cursor: pointer;
            }
            &:active {
                box-shadow: 0 0 nth($shadows-list, $i);
                top: $button-shadow-height;
            }
        }
    }

    &.clicked-down {
        top: 10px;
        box-shadow: none;

        &:hover {
            box-shadow: none;
            top: 10px;
        }
        &:active {
            box-shadow: none;
            top: 10px;
        }
    }

    &:disabled {
        box-shadow: none;
        top: 10px;

        &:hover {
            box-shadow: none;
            top: 10px;
            cursor: default;
        }
        &:active {
            box-shadow: none;
            top: 10px;
            cursor: default;
        }
    }
}