.form-input {
  font-family: 'Proxima Nova', sans-serif; }
  .form-input input[type=text] {
    width: 100%;
    padding: 1em;
    font-size: 1.1rem;
    background-color: #eaeaea;
    border: none;
    box-sizing: border-box; }
    .form-input input[type=text]:focus {
      outline: none; }
