.input-wrapper {
    width: 100%;

    input[type=text] {
        width: 100%;
        padding: .75em;
        font-size: .85rem;
        background-color: #eaeaea;
        border: none;

        &:focus {
            outline: none;
        }
    }
}