.landing-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-basis: 50%;
  text-align: left;
  box-sizing: border-box; }
  .landing-container.green .right-side {
    background-color: #2DC672; }
  .landing-container.blue .right-side {
    background-color: #0D86E2; }
  .landing-container.purple .right-side {
    background-color: #8811D8; }
  .landing-container .logo-title {
    font-size: 1.25rem;
    font-weight: 900;
    position: absolute;
    top: 1em;
    left: 1em; }
  .landing-container .left-side {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 20%;
    margin-bottom: 2em; }
    .landing-container .left-side .split-title {
      width: 100%;
      text-align: left;
      margin: 0em 0em 1.25em 0em;
      color: #323232; }
      .landing-container .left-side .split-title .top-text {
        font-size: 3rem;
        font-weight: 900;
        line-height: 1; }
      .landing-container .left-side .split-title .bottom-text {
        font-size: 8rem;
        font-weight: 900;
        line-height: 1; }
    .landing-container .left-side .button-wrapper {
      height: 3.5em;
      width: 100%;
      margin-bottom: 2em; }
    .landing-container .left-side .link-text {
      text-align: left;
      font-size: 1.2rem;
      width: 100%;
      color: #323232;
      margin-left: .5em; }
      .landing-container .left-side .link-text:hover {
        cursor: pointer;
        color: #7f7f7f; }
  .landing-container .right-side {
    grid-column-start: 2;
    margin: 1em 1em 1em 0em; }
