@import "styles/common.scss";

.landing-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-basis: 50%;
    text-align: left;
    box-sizing: border-box;

    @for $i from 1 through length($colors-name-list) {
        &.#{nth($colors-name-list, $i)} {
            .right-side {
                .colored-area {
                    background-color: nth($colors-list, $i);
                }
            }
        }
    }

    .logo-title {
        font-size: 1.25rem;
        font-weight: 900;
        position: absolute;
        top: 1em;
        left: 1em;
    }

    .left-side {
        grid-column-start: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0% 20%;
        margin-bottom: 2em;

        .split-title {
            width: 100%;
            text-align: left;
            margin: 0em 0em 1.25em 0em;
            color: $grey;

            .top-text {
                font-size: 3rem;
                font-weight: 900;
                line-height: 1;
            }

            .bottom-text {
                font-size: 8rem;
                font-weight: 900;
                line-height: 1;
            }
        }

        .button-wrapper {
            height: 3.5em;
            width: 100%;
            margin-bottom: 2em;
        }

        .link-text {
            text-align: left;
            font-size: 1.2rem;
            width: 100%;
            color: $grey;
            margin-left: .5em;

            &:hover {
                cursor: pointer;
                color: lighten($grey, 30%);
            }
        }
    }

    .right-side {
        grid-column-start: 2;
        padding: 1em 1em 1em 0em;
        box-sizing: border-box;
        width: 100%;
        height: 100%;

        .colored-area {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .button-wrapper {
                height: 10em;
                width: 15em;
            }
        }
    }
}